

<div class="dialog-close w-80 text-right">
    <button (click)="onNoClick()" mat-dialog-close>
        <i class="icon ion-close-round" >x</i>
      </button>
</div>
<br><br><br><br>
<div class="row" >
  <div class="col-sm-6 text-center">
      <h3 style="color:#fff;"> Are you hungry? (Yes/No) </h3>
  </div>
  <div class="col-sm-6 text-center">
      <div class="row">
          <div class="col-md-12">

          </div>
          <div >
          <div class="col-md-6" >
            <button class="btn btn-primary btn-block">Yes</button>
          </div>
          <div class="col-md-6">
              <button class="btn btn-danger btn-block">No</button>
            </div>
            </div>
        </div>


  </div>
</div>

